.score_point{
    display: flex;
    .point {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        border: 1px solid #EEEBF2;
    }

    .dark_point{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        border: 1px solid #EEEBF2;
        background-color: #EEEBF2;
    }

    .active_point{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        background: #464BFF;
        border: 1px solid #EEEBF2;
        color: #fff;
    }
}